*{
    background-color: black;
    
}
.portada{
    display: flex; 
    justify-content: center;
    justify-items: center;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 8px solid;
    margin: 20PX;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10PX;
    box-shadow: 5px 10px greenyellow;
    border-radius: 20PX;
    background-color: black;
    
}

.seccion1 img{
    margin-top: 20px;
    width: 80%;
    margin-bottom: 20px;
    border-radius: 35px;
}
img{
    width: 100%;
    height: auto;
}

.seccion1{
    display:flex;
    justify-content: center;
    background-image: URL("https://i.pinimg.com/originals/4a/9e/74/4a9e749767dffed69e8c85e7f9b6a50e.gif");
    border:solid greenyellow;
    border-radius: 10px;
    margin-top:40px;
    border-radius: 50px;
}


.personajes{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:60px;
    margin-top: 50px;
    
    
}

.individual{
    border: 8px solid;
    box-shadow: 5px 10px greenyellow;
    border-radius: 20PX;
}
.individual p{
    color:greenyellow;
    width: 330px ;
}
input{
    width: 50vw;
    padding: 10px;
    outline: none;
    border: 5px solid #CCD1E4;
    font-weight: 600;
    color: greenyellow;
    background-color: black;
    border: solid 3px greenyellow;
    
    border-radius: 20px ;
    margin-top:20px;
    
}



.individual h2{
    color: rgb(57, 255, 47);
    width: 320px;
    word-break:keep-all;
}

button{
    width: 150px;
    height: 40px;
    background-color: green;
    box-shadow: 3px 8px greenyellow;
    border-radius: 20PX;
    background-color: black;
    color: greenyellow;
    font-size: 18px;
    margin-top:10px;
    margin-bottom: 20px;
}

button p{
    background-color: green;
    color: greenyellow;
    font-size: 15px;
    font-weight:bold;
    
    border-radius: 20PX;
    background-color: black;
}



.barraBuscadora{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.boton button{
    margin:80px;
    height: 100px;
    width: 200px;
    
}
.boton{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
